@model RzdTicketsStore.Models.TripDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Билеты на поезд @Model.Trip.DepartureStation.Name - @Model.Trip.ArrivalStation.Name</h2>

<h3>Время отправления: @Model.Trip.DepartureTime.ToString("HH:mm dd.MM.yyyy")</h3>
<h3>Время прибытия: @Model.Trip.ArrivalTime.ToString("HH:mm dd.MM.yyyy")</h3>

@if (!Request.IsAuthenticated)
{
    <div class="alert alert-warning" role="alert">
        @Html.ActionLink("Зарегистрируйтесь", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        или
        @Html.ActionLink("войдите", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        чтобы покупать или бронировать билеты
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Вагон</th>
                        <th>Место</th>
                        <th>Стоимость</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in Model.Tickets)
                    {
                        <tr>
                            <td>@t.WagonNumber</td>
                            <td>@t.SeatNumber</td>
                            <td>@t.Cost р.</td>
                            <td>
                                @if (Request.IsAuthenticated)
                                {
                                    <a href="@Url.Action("Book", "Tickets", new { ticketId = t.Id })">Забронировать</a>
                                }
                            </td>
                            <td>
                                @if (Request.IsAuthenticated)
                                {
                                    <a href="@Url.Action("Buy", "Tickets", new { ticketId = t.Id })">Купить</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

