@model List<RzdTicketsStore.Models.TrainTrip>

@{
    ViewBag.Title = "Рейсы";
}

<h2>Рейсы</h2>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Create")" class="btn btn-success">Создать</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Станция отправления</th>
                        <th>Станция назначения</th>
                        <th>Время отправления</th>
                        <th>Время прибытия</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trip in Model)
                    {
                        <tr>
                            <td>
                                @trip.Id
                            </td>
                            <td>
                                <a href="@Url.Action(trip.Id.ToString())">
                                    @trip.DepartureStation.Name
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action(trip.Id.ToString())">
                                    @trip.ArrivalStation.Name
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action(trip.Id.ToString())">
                                    @trip.DepartureTime.ToString("HH:mm dd.MM.yyyy")
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action(trip.Id.ToString())">
                                    @trip.ArrivalTime.ToString("HH:mm dd.MM.yyyy")
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = trip.Id })" class="btn btn-default btn-sm">Редактировать</a>
                            </td>
                            <td>
                                <a href="@Url.Action("Delete", new { id = trip.Id })" class="btn btn-default btn-sm">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
        </div>
    </div>

</div>

