@model RzdTicketsStore.Models.IndexViewModel
@{
    ViewBag.Title = "Личный кабинет";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <br />
    <br />
    <br />
    <h4>Купленные и забронированные билеты</h4>
    <hr />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Рейс</th>
                    <th>Вагон - место</th>
                    <th>Стоимость</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.Tickets)
                {
                    <tr>
                        <td>@t.Trip.DepartureStation.Name - @t.Trip.ArrivalStation.Name</td>
                        <td>@t.WagonNumber - @t.SeatNumber</td>
                        <td>@t.Cost р.</td>
                        <td>
                            @if (t.BookingTime == null)
                            {
                                <span class="label label-success">Куплен</span>
                            }
                            else
                            {
                                <span class="label label-warning">Забронирован</span>
                            }
                        </td>
                        <td>
                            @if (t.BookingTime == null)
                            {
                                <a href="@Url.Action("ReturnTicket", "Tickets", new { ticketId = t.Id})">Отменить покупку</a>
                            }
                            else
                            {
                                <a href="@Url.Action("CancelBooking", "Tickets", new { ticketId = t.Id})">Отменить бронирование</a>
                            }
                        </td>
                    </tr>
                }
                @if (Model.Tickets.Length == 0)
                {
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-info" role="alert">
                                У вас нет купленных или забронированных билетов.
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h4>Настройки аккаунта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Изменить пароль", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать пароль", "SetPassword")
            }
            ]
        </dd>
        <dt>Вход через соц. сети:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Подробно", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        <dt>Двухфакторная авторизация:</dt>
        <dd>
            <p>
                В данной версии не поддерживается. Обратитесь в службу поддержки в случае, если вам очень хотелось бы воспользоваться этой возможностью!
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
